[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit deployment configuration
    cornflow/gunicorn.py
    # omit post deployment tests:
    cornflow/tests/integration/post_deployment_check.py