-r requirements.txt
alabaster
Babel
colorama
coverage
docutils
Flask-Testing
imagesize
orloge
packaging
Pygments
pyparsing
snowballstemmer
Sphinx
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-httpdomain
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-redoc
