alembic
aniso8601
apispec
bcrypt
certifi
cffi
chardet
click
cornflow-client @ git+https://github.com/baobabsoluciones/cornflow-client@master
cryptography
Flask
flask-apispec
Flask-Bcrypt
flask-compress
flask-cors
Flask-Migrate
flask-inflate
Flask-RESTful
Flask-Script
Flask-SQLAlchemy
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
jsonpatch
ldap3
Mako
MarkupSafe
marshmallow
psycopg2
PuLP
pyasn1
pycparser
PyJWT
python-dateutil
python-editor
pytz
requests
six
SQLAlchemy
urllib3
webargs
Werkzeug
