cornflow-client==1.0.16a1
orloge<=0.17.2
PuLP<=2.7
pandas<=2.1.1
hackathonbaobab2020[solvers] @ git+https://github.com/baobabsoluciones/hackathonbaobab2020@main
pytups<=0.86.2
ortools<=9.7.2996
xmltodict<=0.13.0
openpyxl<=3.1.2
pyomo<=6.6.2
tsplib95<=0.7.1
