cornflow-client>=1.1.0
orloge<=0.17.2
PuLP<=2.9.0
pandas<=2.2.0
hackathonbaobab2020[solvers]
pytups<=0.86.2
ortools<=9.8.3296
xmltodict<=0.13.0
openpyxl<=3.1.2
pyomo<=6.7.0
tsplib95<=0.7.1
numpy<2.0.0
highspy==1.9.0
