# cornflow
cornflow-client>=1.1.0

# data
pandas<=2.1.1
pytups
xmltodict<=0.13.0
openpyxl<=3.1.2
scipy
numpy<2.0.0

# optimization:
orloge
PuLP
ortools
pyomo
tsplib95<=0.7.1
hackathonbaobab2020[solvers]
networkx
--index-url https://pip.hexaly.com
hexaly

# quarto and reports:
matplotlib
seaborn
jupyter
quarto
papermill