alembic
apispec
click
cornflow-core
cornflow-client @ git+https://github.com/baobabsoluciones/cornflow@feature/check_schemas#subdirectory=libs/client
cryptography
Flask
flask-apispec
flask-cors
Flask-Migrate
flask-inflate
Flask-RESTful
gevent
greenlet
gunicorn
jsonpatch
marshmallow
PuLP
psycopg2
PyJWT
SQLAlchemy==1.3.21
Werkzeug
