alembic
aniso8601
apispec
bcrypt
certifi
cffi
chardet
click
cornflow-client @ git+https://github.com/baobabsoluciones/cornflow@master#subdirectory=cornflow-client
cryptography
Flask
flask-apispec
Flask-Bcrypt
flask-compress
flask-cors
Flask-Migrate
flask-inflate
Flask-RESTful
Flask-SQLAlchemy
gevent
greenlet
gunicorn
idna
itsdangerous
Jinja2
jsonpatch
ldap3
Mako
MarkupSafe
marshmallow
psycopg2
PuLP
pyasn1
pycparser
PyJWT
python-dateutil
python-editor
pytz
requests
six
# waiting on new version of flask-sqlalchemy to upgrade sqlalchemy version
SQLAlchemy==1.3.21
urllib3
webargs
# Fix to this version until flask bcrypt releases a version after 0.7.1.
Werkzeug
