alembic
apispec
click
cornflow-core
cornflow-client
cryptography
Flask
flask-apispec
flask-cors
Flask-Migrate
flask-inflate
Flask-RESTful
jsonpatch
marshmallow
PuLP
psycopg2
PyJWT
SQLAlchemy==1.3.21
Werkzeug
