click
cornflow-client
cryptography
disposable-email-domains
Flask==2.1.3
flask-apispec
Flask-Bcrypt
Flask-Compress
Flask-RESTful
Flask-SQLAlchemy==2.5.1
ldap3
marshmallow
PyJWT
pytups
requests
SQLAlchemy==1.3.21
webargs
Werkzeug
